#root {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.game-status {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border: 5px solid burlywood;
    width: 55%;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    position: relative;
    top: 15px;
    z-index: 3;
}

.game-board {
    display: inline-block;
    border: 10px solid #008b8b;
    position: relative;
}

.board-col {
    display: inline-block;
    max-width: 80px;
}

.square {
    background: no-repeat #fff;
    border: none;
    height: 80px;
    width: 80px;
    padding: 5px;
    background-origin: content-box;
    background-size: contain;
}

.isActive {
    background-color: wheat;
}

.square.movable.player1-move {
    background-color: #ff6347;
}

.square.movable.player2-move {
    background-color: #7fffd4;
}

.square.player1, .square.player2, .square.movable {
    cursor: pointer;
}

.square.black {
    background-color: #262626;
}

.square.player1 {
    background-image: url("img/red-pawn.png");
}
.square.player2 {
    background-image: url("img/blue-pawn.png");
}
.square.player1.king {
    background-image: url("img/red-king.png");
}
.square.player2.king {
    background-image: url("img/blue-king.png");
}