.board-col {
    display: inline-block;
    max-width: 80px;
}

.square {
    background: no-repeat #fff;
    border: none;
    height: 80px;
    width: 80px;
    padding: 5px;
    background-origin: content-box;
    background-size: contain;
}

.isActive {
    background-color: wheat;
}

.square.player1, .square.player2, .square.movable {
    cursor: pointer;
}

.square.black {
    background-color: #262626;
}

.square.player1 {
    background-image: url("img/red-pawn.png");
}
.square.player2 {
    background-image: url("img/blue-pawn.png");
}
.square.player1.king {
    background-image: url("img/red-king.png");
}
.square.player2.king {
    background-image: url("img/blue-king.png");
}